.filterContainer{
  margin: 5px auto;
  width: 80%;
  
  padding: 0px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 2px rgb(85, 85, 85);
}

.input.hide{
  display: none;
}

.list{
  box-shadow: 0px 0px 0px 1px rgb(85, 85, 85);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}

.button{
  box-shadow: 0px 0px 2px 1px rgb(85, 85, 85);
  height: 36px;
  margin-top: 10px;
  width: 100%;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 16px;
  text-align: left;
  color: rgb(17, 17, 104);
  margin-bottom: 4px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: rgb(255, 255, 255);
}