.header{
  min-width: 750px;
}

.nav-link.active {
  background: none!important;
}

.tt{
  color: bisque;
  background-color: red;
}

.svgImg{
  width: 70px;
}

.svgPath{
  animation: changeColor 10s 1;
  fill: #FFF; 
  color: #FFF;
}

.rightLeg{
  animation: changeColor 10s 1;
  fill: rgb(255, 75, 219);
  color: rgb(255, 75, 219);
}

.leftLeg{
  animation: changeColor 10s 1;
  fill: rgb(0, 191, 255);
  color: rgb(0, 191, 255);
}

@keyframes changeColor{
  0% {fill: #000; color: #000}
  10% {fill: lightgreen; color: lightgreen}
  25% {fill: rgb(56, 230, 62); color: rgb(56, 230, 62)}
  35% {fill: rgb(0, 245, 172); color: rgb(0, 245, 172)}
  50% {fill: yellow; color: yellow}
  75% {fill: blue; color: blue}
}

.logo_container{
  display: flex;
  min-width: 280px!important;
  max-width: 280px !important;
}

.loginSvg:first-child{
  align-self: center;
  width: 60px;
  margin-right: 0px;
}

.loginSvg:hover{
  cursor: pointer;
}

.customNav{
  background: lightgray;
  border-radius: 32px;
  padding: 0px;
}

.navButton{
  padding: 10px 30px 10px 30px !important;
  color: gray !important;
  border-radius: 32px;
}

.navButton.active{
  color: black !important;
  background-color: #FFF !important;
  border-radius: 32px;
  box-shadow: 0 0 8px 0.1px #212529;
}

.ss{
  position: flex;
  justify-content: flex-start;
  margin-left: 0 !important;
}

.loginLink{
  display: flex;
  position: absolute;
  width: fit-content !important;
  right: 0px;
  top: 0px;
  height: 100%;
}

