
.card{
  width: 18rem;
  margin: 15px 25px 15px 25px;
}

.card.hiden{
  display: none;
}

.brand_Img{
  height: 200px;
}

.brand_logo{
  height: 40px;
  margin-right: 10px;
}

.brand_button{
  background-color: #212529 !important;
  border: 0px !important;
}

